* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  background-color: #e6e6e6;
  color: #e6e6e6;
  background-image: url(./img/Fondo.jpg);
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
}

main {
  width: 100%;
  height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.form__container {
  display: flex;
  width: 600px;
  height: 400px;
  flex-direction: column;
  align-items: center;
  flex-wrap: wrap;
  padding: 50px;
  gap: 20px;
  background-color: #1e1e1e;
  border-radius: 15px;
}
.form__input {
  border: none;
  width: 200px;
  padding: 10px 35px 10px 15px;
  border-radius: 8px;
  background-color: #252525;
  color: #e6e6e6;
}

.form__submit__btn {
  font-size: 15px;
  background: #e6e6e6;
  color: #1e1e1e;
  padding: 10px 25px;
  border-radius: 1rem;
  cursor: pointer;
  border: 2px solid #121212;
}

.form__field {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 20px;
}

.form__field.error input {
  border: 3px solid #e70808;
}

.form__field.error .form__submit__btn {
  border: 2px solid black;
}

.form__field.error small {
  color: #be0404;
  text-align: center;
  padding: 10px 0;
  font-size: 15px;
  font-weight: 600;
}

.form__field.success small {
  display: none;
}

.form__render h2,
h3 {
  color: #e6e6e6;
  font-size: 25px;
}

.form__field.error h2 {
  display: none;
}

.form__field.error h3 {
  display: none;
}
.form__field.success input {
  border: 3px solid #28a745;
}

@media (max-width: 576px) {
  .form__container {
    width: 90%;
    height: 80%;
  }
  .form__render h2,
  h3 {
    font-size: 15px;
  }
  main {
    font-size: 15px;
  }
}
